.number-cart{
  width: 10px;
  height: 10px;
  background: red;
  padding: 5px 5px;
  color: white;
  font-weight: bold;
  border-radius: 100%;
  position: relative;
  top: -15px;
  left: -10px;
}
body{
    font-family: 'Montserrat', 
    sans-serif;font-size: 14px; 
    font-weight: 500; 
    line-height: 24px;
  }
.call-us{

	font-size: 12px;
    padding: 0px 13px 0px 0;
    margin: 12px 10px 12px 0;
    text-decoration: none;
    font-size: 15;
    float: left;
   margin-left: 380px;
}
.account{
	float: right;
	padding: 0px 13px 0px 0;
    margin: 12px 10px 12px 0;
    margin-right: 380px;
}
.account a{
    text-decoration:none !important;
}
.account1 a{
    text-decoration:none !important;
    color: white;
}
.account1{
     padding: 0px 13px 0px 0;
    border-right: 1px solid #ccc;
    margin: 12px 10px 12px 0;
    margin-top: -20px;
    text-align: center;
}
	
.header{
	background: #403e3c;
    height: 50px;
    text-align: center;
}

#demo-2{
    background: black;
    text-align: center;

}

/*#demo-2 input::-webkit-input-placeholder {
    color: transparent;
    margin-top: 100px;

}
*/
input {
    outline: none;
   display: inline-block;
   top:6%;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
   margin-right:200px;
}


 
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
} 


 
input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 200px;
    height: 40px;
    margin-left: 150px;
    margin-top: 5px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
} 

/*input[type=search]:focus {
    width: 160px;
    height: 40px;
    
    background-color: #fff;
    border-color: #66CC75;
}*/
#fa
{
	margin-left:100px;
 	color: white; 
    border: 1px solid #7c7c7c;
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
}
#fa :hover{
color: #d25223;
}

.sp{
    color: white;
    font-size: 14px;
}
 ul.form {
    position:relative;
    background:#fff;
    width:230px;
    margin:auto;
    padding:0;
    list-style: none;
    overflow:hidden;
    float: left;   
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1);   
    top: 25px;
   
    }

.form li a {
        width:225px;
        padding-left:20px;
        height:50px;
        line-height:50px;
        display:block;
        overflow:hidden;
        position:relative;

        text-decoration:none;
        text-transform:uppercase;
        font-size:14px;
      
        
        -webkit-transition:all 0.2s linear;
        -moz-transition:all 0.2s linear;
        -o-transition:all 0.2s linear;
        transition:all 0.2s linear;         
    }
.form li a.uku:hover {
        background:#7ebf4e;
    }
    
.form li a.uku {
        border-left:5px solid #7ebf4e;
    }
.form li a.dantoc {
        border-left:5px solid #fe9317;
}
.form li a.dantoc:hover {
         background: #fe9317;
}
    
.form li a.giaoduc:hover {
        background: #ee223f;
}
.form li a.giaoduc {
        border-left:5px solid #ee223f;
}

.form li a.trong:hover {
        background: #744db9;
} 
.form li a.trong {
        border-left:5px solid #744db9;
}
.form li a.sp {
         background: #403e3c;
}  

.form li a.messages:hover {
        background: #f0c345;
} 
.form li a.messages {
        border-left:5px solid #f0c345;
} 
.form li a.piano:hover {
        background: #ed36c6;
} 
.form li a.piano {
        border-left:5px solid #ed36c6;
} 
.form li a.guitar:hover{
         background:#44bbd0;
} 
.form li a.guitar {
        border-left:5px solid #44bbd0;
}   

.form li a.ken:hover{
         background:#0e568a;
} 
.form li a.ken {
        border-left:5px solid #0e568a;
}   

.form li a.sao:hover{
         background:#d25223;
} 
.form li a.sao {
        border-left:5px solid #d25223;
}
.form li a:hover{
    color: white;
}

.form li:first-child a:hover, .form li:first-child a {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.form li:last-child a:hover, .form li:last-child a {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.form li a:hover i {
        color:#ea4f35;
    }

.form i {
        margin-right:15px;
        -webkit-transition:all 0.2s linear;
        -moz-transition:all 0.2s linear;
        -o-transition:all 0.2s linear;
        transition:all 0.2s linear; 
    }
.form li a:hover i {
        color:#ea4f35;
    }
 
    .form i {
        margin-right:15px;
        
        -webkit-transition:all 0.2s linear;
        -moz-transition:all 0.2s linear;
        -o-transition:all 0.2s linear;
        transition:all 0.2s linear; 
    }
    .form em {
        font-size: 10px;
        background: #ea4f35;
        padding: 3px 5px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;        
        font-style: normal;
        color: #fff;
        margin-top: 17px;
        margin-right: 15px;
        line-height: 10px;
        height: 10px;       
        float:right;
    }
.form li.selected a {
        background:#efefef;
    }
 
    h1 {
        color:#fff;
        margin:0 auto;
        margin-top:60px;
        margin-bottom:40px;
        font-size:30px;
        width:300px;
        text-align:center;
    }
    
    p {
        text-align:center;
        position:absolute;
        width:100%;
        bottom:0;
        font-size:12px;
        font-family:Arial, Helvetica;
        color:#fff;
        text-transform:uppercase;
    }
    p a {
        color:#fff;
        text-decoration:none;
    }
/*nav1{
	background-color: black;
}

}
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
@media only screen and (max-device-width: 1600px) {
    .bgimg-1 {
        background-attachment: scroll;
        height: 500px;
        background-repeat: no-repeat;
    }
}*/
.nav{
   background: #403e3c;
   width: 1140px;
   height: 48px;
   border-radius: 5px;
   text-align: center;
}
   
.nav li a{
     color: white;
}
.carousel{
   
    margin-left: 300px;
    margin-top: 20px;
    width: 600px;
    
}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.bs-example{
    margin: 20px;
}
  
 .caption-style-2{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        
    }

    .caption-style-2 li{
        float: left;
        padding: 0px;
        position: relative;
        overflow: hidden;
    }

    .caption-style-2 li:hover .caption{
        opacity: 1;
        transform: translateY(-100px);
        -webkit-transform:translateY(-100px);
        -moz-transform:translateY(-100px);
        -ms-transform:translateY(-100px);
        -o-transform:translateY(-100px);

    }


    .caption-style-2 img{
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: 4;
    }


    .caption-style-2 .caption{
        cursor: pointer;
        position: absolute;
        opacity: 0;
        -webkit-transition:all 0.15s ease-in-out;
        -moz-transition:all 0.15s ease-in-out;
        -o-transition:all 0.15s ease-in-out;
        -ms-transition:all 0.15s ease-in-out;
        transition:all 0.15s ease-in-out;

    }
    .caption-style-2 .blur{
        background-color: rgba(0,0,0,0.3);
        height: 500px;
        width: 400px;
        margin-left: -20px;
        
    }

    .caption-style-2 .caption-text h1{
        text-transform: inherit;
       
    }
    .caption-style-2 .caption-text{
       
        position: absolute;
        width: 400px;
        height: 300px;
        text-align: center;
        top:350px;
    }


    /** Nav Menu */
    ul.nav-menu{
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        width: 490px;
        margin: 60px auto;
    }

    ul.nav-menu li{
        display: inline;
        margin-right: 10px;
        padding:10px;
        border: 1px solid #ddd;
    }

    /*ul.nav-menu li a{
        color: #eee;
        text-decoration: none;
        text-transform: uppercase;
    }*/

    ul.nav-menu li a:hover, ul.nav-menu li a.active{
        color: #2c3e50;
    } 

.skillbar{
    position:relative;
    display:block;
    margin-bottom:15px;
    background:#eee;
    margin-top: 40px;
    border-radius:15px;
    content: "";
    border-top: 70px solid red;
    border-bottom: 30px solid red;
    border-left: 30px solid blue;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #3498db;
    white-space: nowrap;
        
}

 
.skillbar-title {
    position:absolute;
    text-align: center;
    left:0;
    width:300px;
    top:-10px;
    height: 60px;
    font-size:16px;
    color:black;
    text-overflow: ellipsis;
    white-space: nowrap;
 }            
 

#menu ul {
  background: white;
  list-style-type: none;
  text-align: center;
  z-index: 10000000;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 40px;
  margin-left: -5px;
}
#menu .sub-menu li{
 width: 170px;
}
#menu .sub-menu a {
  text-decoration: none;
  color: black;
  display: block;
  white-space: nowrap;
  padding: 10px !important;
 font-weight: normal;
 font-size: 14px;
 text-transform: none;
 text-align: left;
 border-bottom: dotted #ccc 1px;
 display: block;

}
#menu .sub-menu a:hover {
  background: #d25223;
  color: white;
  height: auto;
}
#menu li:hover ul ul {
    display:none;

        }



#menu li li:hover ul {
    display:block; 
    background: #d25223;
    margin-left:200px; 
    margin-top:-35px;
    }
  

#menu a:hover{
    background:none;
    color: #d25223;
}

/*==Dropdown Menu==*/
.sub-menu {
display: none;
position: absolute;
background:white;
border-top: solid 3px #D35922;
border-bottom: solid 3px #D35922;
padding: 7px;
}
#menu li {
  position: relative;
}
#menu li:hover .sub-menu {
  display: block;

}
.sub-menu li {
  margin-left: 0 !important;
}

/*==Menu cáº¥p 3==*/
.sub-menu > ul {
  display: none !mportant;
}

.name{
    text-transform: uppercase;
    margin-bottom: 6px;
    border-bottom: 1px solid #ddd;
    padding: 9px 0 9px 0;
    color: #d35922;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    margin-top: -30px;
}
.main{
    width: 77%;
    float: right;
    border: 1px solid #E6E6E6;
    background: #fff;
    padding: 10px;
    margin-top: 30px;
    padding-left: 20px;
}
.main1{
    padding-left: 50px;
}
.img-container{
    display: block;
    vertical-align: middle;
    float: left;
    margin: 10px auto;
    overflow: hidden; 
    position: relative;
    height:400px;
    width: 250px;
    border: 1px solid #ccc;
    box-sizing: border-box;
   
}
.dropdown{
 float: right;
 top: 15px; 
 right: 380px;
    
}
.dropdown a{
    text-decoration:none !important;
    color: white;
   }

.dropdown-menu ul li{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.sao1{
    margin-top: 400px;
}
.left{
    margin-left: 30px;
   box-sizing: border-box;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (
    max-width: 996px
    ) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; 
}
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 28px;
 border: 1px solid #E6E6E6;
background: #fff;
padding: 10px;
padding: 1em;
line-height: 1.5em; 
  float: left;
  width: 78%;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  
  font-weight: bold; 
 
}

.checked, .price span {
  color: #ff9f1a; 
}

.product-title, .rating, .product-description, .price,  .sizes {
  margin-bottom: 15px; 
  padding: 5px;
}

.product-title {
  margin-top: 0; 
  color: #d35922;
border-bottom: dotted #CCCCCC 1px;
line-height: 1.4;
    font-size: 18px;
    color: #D35922;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: dotted #CCCCCC 1px;
    padding-bottom: 5px;
}

.size {
  margin-right: 10px; 
}
  .size:first-of-type 
  {
    margin-left: 40px; 
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; 
}
  .color:first-of-type {
    margin-left: 40px; 
}
.colors{
    margin-right: 10px; 
}
.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {

    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.vote{
    color: #696969;


}
.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }
  .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-top: -10px;

  }
  .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
 .grid-container button{
  height: auto;
  width: auto;
 }
 .model{
  height: auto;
  margin-top: 50px;
 }