
	body{
		font-family: 'Montserrat', 
		sans-serif;font-size: 14px; 
		font-weight: 500; 
		line-height: 24px;
	}
	li{
		list-style: none;
	}

	#top {
		background-color:#000; 
		color: #fff; 
		padding: 5px 10px; 
		text-align: center
	}
	#top p {
		margin: 10px 0
	}
	#top .contact {
		float: left;
	}
	
	
	@media (max-width:767px) {
		#top .pull-left, #top .pull-right {width: 100%}
		#top .pull-right p { display: table; margin: 7px auto; }
		
	}

	.navbar {
    background: #FFFFFF;
    border-top-style: solid;
    font-size: 16px;
    border-top-color: #207362;
    border-top-width: 3px;
    padding-right: 15px;
   
		}

	.pull-right ul li a{
		color: #fff;
	}
	
	.menu li{
		display: inline-block;
		  padding:20px 40px;
	}
	.menu li a{
    display:inline-block;
    text-decoration:none;
    padding:14px 16px;
    color: #44bbd0;
    }
	.img1 {
		border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		height: 200px;
		width: 200px;
		margin-left: 60px;
	}
	

	 
	
	.menunho li{
		 display: inline-block;
		  padding:10px 60px;
		  margin-left: 120px;

		 
	}
	.menunho li a{
		display: inline-block;
		
		padding: 12px 10px;
        border-right: 1px solid;
		height: 50px;
		  
	}
	.menunho{
			  border-bottom: 1px solid;
	}
	
	body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.personal{
	display: block;
}